.cardList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.card {
    padding: 10px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}